header {
  background-color: #fff;
  border: 1px solid #ebebeb;
  height: 50px;
  line-height: 50px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

header .header-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
