.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 8rem;
  max-width: 100%;
}

.slider-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-arrow-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-button {
  transition: 0.2s;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-button .active {
  background-color: rgba(0, 0, 0, 0.5);
}